.kanban-board {
  display: flex;
  gap: 1rem;
  padding: 2rem 1rem; /* Prevents overlap */
  overflow-x: auto; /* Allow horizontal scrolling on smaller screens */
  background: rgb(240, 250, 253);
}

.kanban-column {
  flex: 1 1 calc(20% - 1rem); /* Adjust width for five columns */
  background-color: #ffffff; /* White background for columns */
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  min-width: 240px; /* Ensure columns have minimum width */
}

.kanban-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.kanban-column-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333333;
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: 1rem; /* Adds space between the title and the icons */
}

.kanban-column-icons {
  display: flex;
  align-items: center;
  gap: 1rem; /* Increased spacing between the title and icons */
}

/* Styling for the menu icon */
.kanban-menu-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.add-ticket-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 0.5rem; /* Space between the + icon and menu icon */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .kanban-column {
    flex: 1 1 calc(33% - 1rem);
  }
}

@media (max-width: 768px) {
  .kanban-column {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 576px) {
  .kanban-column {
    flex: 1 1 100%;
  }
}
